

.node-box {
    height: 30px;
    width: 70px;
    margin: 30px;
}

.active-node-box {
    border: 1px solid #ffffff;
    background-color: rgb(34,181,215);
    min-height: 225px;
    min-width: 190px;
    cursor: pointer;
    border-radius: 14px;
    font-style: bold;
    padding-top: 8px;
    align-items: center;
}


.active-node-box:hover {
    animation: box-shadow-animation 0.75s ease-in infinite;
}

@keyframes box-shadow-animation {
    0% {
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25);
        transform: translateY(0) !important;
    }
    50% {
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.5);
        -webkit-transform: translateY(5px)!important;
        -moz-transform: translateY(5px)!important;
        -ms-transform: translateY(5px)!important;
        -o-transform: translateY(5px)!important;
        transform: translateY(5px)!important;
    }
    100% {
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25);
        transform: translateY(0)!important;
    }
}

.inactive-node-box {
    background-color: rgb(133,5,3, .3);
    min-height: 225px;
    min-width: 190px;
    border-radius: 14px;
}

