

.node-box {
    height: 30px;
    width: 70px;
    margin: 30px;
}

.active-node-box {
    border: 1px solid #ffffff;
    background-color: rgb(34,181,215);
    min-height: 225px;
    min-width: 190px;
    cursor: pointer;
    border-radius: 14px;
    font-style: bold;
    padding-top: 8px;
}
.active-node-box > h5 {
    font-weight: 600;
}
.active-node-box:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.5);
}

.inactive-node-box {
    background-color: rgb(133,5,3, .3);
    min-height: 225px;
    min-width: 190px;
    border-radius: 14px;
}
