

.node-box {
    height: 30px;
    width: 70px;
    margin: 30px;
}

.active-node-box {
    background-color: rgb(34,181,215);
    min-height: 270px;
    min-width: 150px;
    cursor: pointer;
    border-radius: 14px;
}

.inactive-node-box {
    background-color: rgb(133,5,3, .6);
    min-height: 270px;
    min-width: 150px;
    border-radius: 14px;
}
