.info {  
    display: flex;
    flex-direction: column;
    max-width: 800px;
    align-items: center;
    margin: auto;
    margin-bottom: 10px;
}

.edit__form {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: center;
  max-width: 600px;
  margin: auto;
  padding-bottom: 5px;
  padding-top: 10px;
  border-radius: 20px;
  background-color: rgb(211,211,211,.4);
  min-width: 450px;
  box-shadow: 0 8px 6px -6px black;
}

.edit__form input {
    height: 40px;
    width: 200px;
    background: transparent;
    border-radius: 10px;
    font-size: 19px;
    margin-bottom: 10px;
    color: darkslategrey;
}

.edit__inputs {
    /* display: flex;
    flex-direction: column; */
    align-items: center;
    gap: 8px;
}
span {
    margin-right: 8px;
}

.edit {
    padding: 5px;
    margin: 5px;
    border-radius: 8px;
    max-width: 200px;
  }

  .delete__button {
    padding: 5px !important;
    margin: 5px!important;
    border-radius: 8px !important;
    max-width: 200px !important;
    background-color: red !important;
    border: red !important;
    font-family: 'Courier New', Courier, monospace !important;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease;
  }

  .delete {
    font-family: 'Courier New', Courier, monospace;
  }

  .delete__button:hover {
    background-color: white !important;
    color: red !important;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  } 
  .modal-header, .modal-body, .modal-footer {
    background-color: rgb(187,209,213) !important;
  }
 
  .mb-3 input {
    background: transparent;
  }

  .delete__acct {
    position: absolute;
    bottom: 190px;
  }