.info {  
    display: flex;
    flex-direction: column;
    max-width: 800px;
    align-items: center;
    margin: auto;
    margin-bottom: 10px;
}

.edit__form {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: center;
    max-width: 600px;
    margin: auto;
    padding-bottom: 5px;
    padding-top: 10px;
    border-radius: 20px;
    background-color: rgb(211,211,211,.4);
    min-width: 450px;
}

.edit__form input {
    height: 40px;
    width: 200px;
    background: transparent;
    border-radius: 10px;
    font-size: 19px;
    margin-bottom: 10px;
    color: darkslategrey;
}

.edit__inputs {
    /* display: flex;
    flex-direction: column; */
    align-items: center;
    gap: 8px;
}
span {
    margin-right: 8px;
}

.edit {
    padding: 5px;
    margin: 5px;
    border-radius: 8px;
    max-width: 200px;
  }


  /* .delete__acct {
    
  } */