.winner {
    border: 1px solid cyan;
    padding: 10px;
    margin: 10px;
    background-color: rgb(96, 63, 239, 0.7);
    color: white;
    border-radius: 15px;
    max-width: 350px;
    max-height: 300px;
}

.winner h2 {
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 10px;
}

.winner p {
    text-align: center;
    font-size: 1.2em;
    margin-bottom: 10px;
}

.winner:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.5);
    cursor: default;
}